
  
  <section class="section is-relative team-top " style="height: 400px">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
      <div class="left wow fadeInDown "  data-wow-duration=".8s" data-wow-delay=".2s"></div>
      <div class="right wow fadeInDown "  data-wow-duration=".8s" data-wow-delay=".3s"></div>
      <div class="left-upper wow fadeInDown rollIn"  data-wow-duration=".8s" data-wow-delay=".4s"></div>
      <div class="left-lower wow fadeInDown rollIn"  data-wow-duration=".8s" data-wow-delay=".5s"></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </section>
  
  <section class="section last-section" style="margin-top: -50px;">
    <div class="container">
      <div class="column has-text-centered-mobile">
        <h1 id="teamButton" class="title wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".9s">
<!-- OUR TEAM  -->

        </h1>
      </div>
    </div>
    <div class="container top50">
      <div class="columns">
        <!-- <div class="column is-5-desktop is-5-tablet is-10-mobile is-offset-1-mobile">
          <figure class="image  wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.8s">
            <img  src="/assets/images/team.jpg">
          </figure>

        </div> -->
        <div class="column has-text-justified-mobile has-text-left-desktop has-text-left-tablet has-text-weight-bold has-text-justified-desktop is-10-mobile is-offset-1-mobile fadeInUp-animation">
            <h1 class="subtitle has-text-centered-mobile is-3 wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="0.9s"><b>OUR TEAM</b></h1>
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp-animation"  data-wow-duration=".8s" data-wow-delay="0.94s">Our team consists of highly experienced, innovative FM professionals, each having worked in senior operational FM roles within complex built environments and across challenging core businesses</p>
             
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1s">We share a wealth of experiences from across the spectrum of Facility Management disciplines.</p>
             <p class="subtitle is-6 has-text-weight-bold wow fadeInUp"  data-wow-duration=".8s" data-wow-delay="1.09s">
               We believe in being open, approachable and modest, while constantly striving to offer innovative and creative Facility Management solutions.
             </p>
        </div>
      </div>
    </div>
    

    


<!-- testinggg  last 4september confirmed-->

  <div class="main fadeInUp-animation">



    <div class="profile-card">
        <div class="img">
            <img src="/assets/images/team/faisal.JPG">
        </div>
        <div class="caption">
            <h3><strong>Faisal Al Musallam</strong> </h3>
            <p>CEO</p>
            
        </div>
    </div>
    <div class="profile-card">
        <div class="img">
            <img src="/assets/images/team/saoud.JPG">
        </div>
        <div class="caption">
          <h3><strong>Saoud Al Musallam</strong> </h3>
            <p>CCO</p>
           
        </div>
    </div>

    <div class="profile-card">
      <div class="img">
          <img src="/assets/images/team/haseen.JPG">
      </div>
      <div class="caption">
          <h3>Haseen Hashim</h3>
          <p> Facilities Director</p>
          
      </div>
      
    </div>

    <div class="profile-card">
      <div class="img">
          <img src="/assets/images/team/titus.JPG">
      </div>
      <div class="caption">
          <h3>Titus Thomas</h3>
          <p>Facilities Director</p>
          
      </div>
      
    </div>




    <div class="profile-card">
      <div class="img">
          <img src="/assets/images/team/gezlan3.jpg">
      </div>
      <div class="gezlan">
          <h3><strong>Gezlan Al Ghanim</strong></h3>
          <p> Business Development & Facilites Engineer</p>
          
      </div>
      
  
</div>



    <!-- <div class="profile-card">
        <div class="img">
            <img src="/assets/images/team/gezlan_icon.JPG">
        </div>
        <div class="caption">
            <h3><strong>Gezlan Alghanim</strong></h3>
            <p> Bussiness dev & Facilites Engineer</p>
            
        </div>
        
    
</div> -->

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/john2.JPG">
  </div>
  <div class="caption">
      <h3>John A. Mekhaeel</h3>
      <p> Head of Corporate Office</p>
      
  </div>
  
</div>





<!-- <div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/zaina.JPG">
  </div>
  <div class="caption">
      <h3>Zaina Alsanea</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div> -->

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/ali.JPG">
  </div>
  <div class="caption">
      <h3>Ali Meshari</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/vijay.JPG">
  </div>
  <div class="caption">
      <h3>Vijay Nair</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>
<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/fayez.JPG">
  </div>
  <div class="caption">
      <h3>Fayez Al Yanno</h3>
      <p>Facilities Manager</p>
      
  </div>
  
</div>
<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/vijin.JPG">
  </div>
  <div class="caption">
      <h3>Vijin Kalathil</h3>
      <p>Lost Prevention Manager</p>
      
  </div>
  
</div>
<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/fahim.JPG">
  </div>
  <div class="caption">
      <h3>Fahim Kabir Kabil</h3>
      <p>Head of Soft Services</p>
      
  </div>
  
</div>
<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/shouq.JPG">
  </div>
  <div class="caption">
      <h3>Shouq Bouthahair</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/alkuwaitem.JPG">
  </div>
  <div class="caption">
      <h3>Mohammed Al Khuwaiteem</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/abrar.JPG">
  </div>
  <div class="caption">
      <h3>Mohamed Abrar</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/akil.JPG">
  </div>
  <div class="caption">
      <h3>Akil Merji</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>
<div class="profile-card">
  <div class="img">
    <img src="/assets/images/team/hak.jpg">
      <!-- <img src="/assets/images/team/hakeem.JPG"> -->
  </div>
  <div class="caption">
      <h3>Abdul Hakeem </h3>
      <p>CAFM Operator & IT Co-Ordinator</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/ay1.jpg">
  </div>
  <div class="caption">
      <h3>Ayman Salama </h3>
      <p>CAFM Operator</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/vins.JPG">
  </div>
  <div class="caption">
      <h3>Vinsmon Thankachan</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/alhuwaidi.jpg">
  </div>
  <div class="caption">
      <h3>Ahmed Al Huwaidi</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/saleh.JPG">
  </div>
  <div class="caption">
      <h3>Saleh Al Maatouq</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<!-- <div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/maya3.JPG">
  </div>
  <div class="caption">
      <h3>Maya Gencheva</h3>
      <p>Facilities Manager</p>
      
  </div>
  
</div> -->

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/nadem.JPG">
  </div>
  <div class="caption">
      <h3>Nadim Habr</h3>
      <p>Mall Manager</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/delver.JPG">
  </div>
  <div class="caption">
      <h3>Delvar Hossian</h3>
      <p>Soft Service Supervisor</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/saoud.al.jpeg">
  </div>
  <div class="caption">
      <h3>Saud Aldakheel</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>

<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/lulwah.jpg">
  </div>
  <div class="caption">
      <h3>Lulwah AlNashmi</h3>
      <p>Facilities Engineer</p>
      
  </div>
  
</div>


<div class="profile-card">
  <div class="img">
      <img src="/assets/images/team/fawaz.JPG">
  </div>
  <div class="caption">
      <h3>Fawaz Abdul Rahman</h3>
      <p>CAFM Operator</p>
      
  </div>
  
</div>









   
  </div>
  </section>
